{% extends "base.html" %}
{% block title %}検索{% endblock %}
{% block content %}
<h2>練習場を検索</h2>
<form method="POST" action="/search">
    <label for="region">地域:</label>
    <input type="text" id="region" name="region">
    
    <label for="instrument_id">楽器:</label>
    <select id="instrument_id" name="instrument_id">
        <option value="">-- 選択してください --</option>
        {% for instrument in instruments %}
        <option value="{{ instrument['g_id'] }}">{{ instrument['specification'] }}</option>
        {% endfor %}
    </select>

    <button type="submit">検索</button>
</form>

<table>
    <tr>
        <th>施設名</th>
        <th>住所</th>
        <th>楽器対応</th>
    </tr>
    {% for facility in facilities %}
    <tr>
        <td><a href="{{ url_for('facility_detail', facility_id=facility['id']) }}">{{ facility['name'] }}</a></td>
        <td>{{ facility['address'] }}</td>
        <td>{{ facility['specification'] if facility['specification'] else '対応情報なし' }}</td>
    </tr>
    {% endfor %}
</table>


{% endblock %}
