<iframe
    src="https://www.google.com/maps/search/?api=1&query=%E7%86%8A%E6%9C%AC%E7%9C%8C%E5%85%AB%E4%BB%A3%E5%B8%82%E6%98%AD%E5%92%8C%E6%98%8E%E5%BE%B4%E7%94%BA730%E7%95%AA%E5%9C%B01	NULL	0	NULL	NULL
    17	麦島コミュニティセンター	8660043.0	熊本県八代市古城町2259番地	(0965)35-3822	NULL	https://www.city.yatsushiro.lg.jp/kiji003996/3_996_20539_up_mgzi1puw.jpg	https://www.city.yatsushiro.lg.jp/kiji003996/index.html	https://www.google.com/maps/search/?api=1&query=%E7%86%8A%E6%9C%AC%E7%9C%8C%E5%85%AB%E4%BB%A3%E5%B8%82%E5%8F%A4%E5%9F%8E%E7%94%BA2259%E7%95%AA%E5%9C%B0"
    width="600"
    height="450"
    style="border:0;"
    allowfullscreen=""
    loading="lazy">
</iframe>
